:root {
    --size-width: 1024px;
    --size-height: 768px;
    --color-background: #3f3f3f;
    --color-foreground: white;
}

.container {
    position: relative;
    width: var(--size-width);
    height: var(--size-height);
    background-color: var(--color-background);
}

.content {
    width: var(--size-width);
    height: var(--size-height);
}

#panel-container[state="on"] .page[active="on"] {
    display: block;
}

#panel-container[state="on"] .page[active="off"] {
    display: none;
}


#Electricity {
    color: var(--color-foreground);
}

.bold {
    font-weight: bold;
}

.page {
    display: none;
}

.active {
    display: block;
}

#attitude-indicator-component {
    width: var(--size-height);
    height: var(--size-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #60a1fa;
}


#status-component {
    width: var(--size-height);
    height: var(--size-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}