:root {
    --size-width: 1024px;
    --size-height: 768px;
    --color-background: black;
    --color-foreground: white;
}

.container {
    position: relative;
    width: var(--size-width);
    height: var(--size-height);
    background-color: var(--color-background);
}

.content {
    width: var(--size-width);
    height: var(--size-height);
}

#panel-container .content, 
#panel-container .page {
    display: none;
}

#panel-container[state="on"] .content,
#panel-container[state="on"] .page {
    display: block;
}

#Electricity {
    color: var(--color-foreground);
}

.bold {
    font-weight: bold;
}

.page {
    display: none;
}

.active {
    display: block;
}

#attitude-indicator-component {
    background-color: blueviolet;
    width: var(--size-height);
    height: var(--size-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}